.track {
	height: 2em;
	margin: 0.3em 0.4em;
	padding: 0.4em;
	background-color: var(--white);
	display: flex;
	align-content: center;
	line-height: 1.9em;
	border-radius: 6px;
	position: relative;
	overflow: hidden;
}

.track-section-a {
	width: 5em;
	flex-shrink: 0;
	justify-content: flex-end;
	display: flex;
}

.track-section-a.empty {
	width: unset;
}

.track-section-a > span {
	color: #666;
	width: 100%;
	text-align: center;
	user-select: none;
}

.track-timestamp {
	font-size: 0.75em;
	margin-left: -0.4em;
}

.track-section-b {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-right: 1em;
}

.track-section-a,
.track-section-b {
	cursor: pointer;
}

.track:nth-child(-n + 21) .track-rank {
	color: var(--dark);
	border-radius: 100%;
	margin: 0 0.5em;
	background-color: var(--light);
	filter: drop-shadow(0 0 2px #6665);
}

.track-rank:before {
	content: '#';
}

.track-image {
	height: 2em;
	width: 2em;
	border-radius: 3px;
}

.track-title {
	margin: 0px 10px;
	font-weight: bold;
	text-decoration: none;
	color: inherit;
}

.track-artist {
	margin: 0px 10px;
	color: #333;
}

.track-icons {
	float: right;
	margin: auto;
}

.track-icons > i {
	cursor: pointer;
	padding: 0.5em;
}

.track-more {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 100%;
	top: 0;
	border-radius: inherit;
	transition: 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	display: flex;
	flex-direction: row;
	color: #fff;
	padding: 0.5em;
	box-sizing: border-box;
	justify-content: space-around;
	backdrop-filter: blur(1px);
	background-color: hsla(var(--deg), 35%, 22%, 71%);
}

.track.open > .track-more {
	left: 0;
}

.track-more-button {
	width: 100%;
	text-align: center;
	cursor: pointer;
	color: inherit;
	height: 100%;
	display: flex;
	align-items: center;
}

.track-more-button > i {
	width: 100%;
	border-radius: 1em;
	margin: 0 0.5em;
}

.track-more-button[data-set='true'] > i {
	background-color: var(--dark);
	color: var(--main);
	cursor: default;
}

.track-more-button:not([data-set='true']):hover > i {
	background-color: #fff2;
}

.track-more-button:not(:last-child) {
	border-right: 1px solid #fff5;
}
