#modal > div {
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.7);
	backdrop-filter: blur(5px);
}

.modal {
	background-color: var(--white);
	color: var(--dark);
	border-radius: 3px;
	padding: 1.25em 1.5em;
	max-width: 550px;
	width: 100%;
}

.modal > div.modal-title {
	font-size: 1.2em;
	font-weight: bold;
	border-bottom: 1px solid;
	padding-bottom: 0.3em;
}

.modal > div.modal-body {
	margin: 1em 0 4em;
	color: #777;
}

.modal-buttons {
	text-align: right;
}

.modal-button {
	color: var(--white);
	background-color: var(--main);
	font-size: 1em;
	padding: 0.4em 1.6em;
	margin: 0;
	box-sizing: border-box;
	display: inline-block;
	border: none;
	cursor: pointer;
	border-radius: 3px;
}

.modal-button:first-child {
	margin-right: 0.5em;
	background-color: var(--white);
	color: var(--dark);
}

.modal-button:hover {
	filter: brightness(0.9);
}
