.top-header {
	border-bottom: 1px solid #eeec;
	display: block;
	margin: 1em 0.5em 0;
	color: var(--dark);
	text-align: center;
	font-weight: bold;
}

.top-more {
	text-align: center;
	padding: 0.5em 1em;
	background-color: var(--light);
	border-radius: 5px;
	margin: 1em auto;
	cursor: pointer;
	transition: 0.1s;
	color: #333;
	width: 60%;
}

.top-more:hover {
	width: 75%;
}
