.history {
	overflow-y: auto;
	padding-bottom: 2.5em;
	margin-bottom: 1em;
	font-family: 'Poppins';
}

.history-section > span {
	border-bottom: 1px solid #eeec;
	display: block;
	margin: 1em 0.5em 0;
	color: #3a3a3a;
}

.history-section.now > .track {
	background-color: var(--main);
	box-shadow: 2px 2px 4px #6363637d;
	color: #fffd;
}

.history-section.now > .track .track-artist {
	color: #fffa;
}
