.history {
	overflow-y: auto;
	padding-bottom: 2.5em;
	margin-bottom: 1em;
	font-family: 'Poppins';
}

.history-section > span {
	display: block;
	margin: 1em 0.5em 0;
	color: #3a3a3a;
	text-align: center;
}

.history-section > .header {
	border-bottom: 1px solid #eeec;
	text-align: left;
}

.history-section.now > .track {
	background-color: var(--main);
	box-shadow: 2px 2px 4px #6363637d;
	color: #fffd;
}

.history-section.now > .track .track-artist,
.history-section.now > .track .track-timestamp {
	color: #fffa;
}

.history-section.next > .track .track-timestamp,
.history-section.now > .track .track-timestamp {
	font-size: 1.25em;
}
