nav {
	width: 100%;
	display: flex;
	background-color: var(--white);
	border-radius: 0.5em 0.5em 0 0;
	padding: 0.5em;
	box-sizing: border-box;
	user-select: none;
	z-index: 5;
	position: fixed;
	bottom: 0;
}

.nav-button {
	width: 100%;
	padding: 0.2em;
	text-align: center;
	cursor: pointer;
	color: #666;
	text-shadow: 0px 5px 5px #0003;
	transition: 0.1s;
	text-decoration: none;
}

.nav-button:not(:last-child) {
	border-right: 1px solid #cccc;
}

.nav-button.active {
	color: var(--main);
	font-weight: bold;
	padding-top: 0;
	position: relative;
}

.nav-button.active:before {
	content: '';
	width: 80%;
	left: 10%;
	bottom: 0;
	position: absolute;
	border-bottom: 4px solid var(--light);
	border-radius: 3px;
}

.nav-button:hover {
	text-shadow: 0px 0px 5px var(--main);
}

@media only screen and (max-width: 600px) {
	.nav-button > span {
		display: none;
	}
}
