.settings {
	padding: 1em;
}

.settings-part {
	border-radius: 0.5em;
	background: white;
	margin-bottom: 1em;
	height: 100%;
	padding: 0.4em 0.8em;
	box-shadow: 0 -1px 12px 0px #6b6b6b40;
}

.head {
	display: flex;
	align-items: flex-end;
	padding: 0.5em;
	border-bottom: 1px solid #3333;
	margin-bottom: 0.5em;
}

.head > img {
	width: 3em;
	height: 3em;
	border-radius: 4px;
	box-shadow: 0 1px 8px 2px #8888;
}

.head > span {
	font-size: 1.2em;
	padding-left: 0.5em;
	width: 100%;
}

.head > div {
	white-space: nowrap;
	font-weight: bold;
	font-size: 0.8em;
	float: right;
	text-transform: uppercase;
	cursor: pointer;
}

.settings-sub {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.4em 0.2em;
	text-decoration: none;
	color: inherit;
}

.settings-sub:not(:last-child) {
	border-bottom: 1px solid var(--light);
}

.settings-sub i {
	color: var(--dark);
}

.settings-sub.toggle[data-value='true'] .toggle i {
	color: var(--main);
}

.settings-sub.external:hover,
.settings-sub.toggle:hover {
	color: var(--main);
	cursor: pointer;
}

.toggle i {
	font-size: 1.2em;
}
